.toutSurApp {
  width: 90%;
  margin: 1em auto 0px auto;
  text-align: center;
}

// == Modification of all of the card of Semantic UI
.ui.card>.image:not(.ui)>img {
  height: 186px;
}
.ui.card>.image {
  height: 186px;
}
.ui.card>.content:not(.extra){
  height: 11em;
}

.ui.card.card-categorie>.content {
  height: 3em;
}

// == Modification for a better render when the user use > 400px
@media (max-width: 400px) {
  .ui.card.card-categorie>.content {
    height: 5em;
  }
}

.card-article-button {
  height: 3em !important;
}

.ui.card>.content:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.card-group>a {
  margin: 1em;
}

//== If user has the reduced motion of animation activated :
@media (prefers-reduced-motion: reduce) {
  .card {
    transition: none;
  }
}


